@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: "Roboto", sans-serif;
}

body {
  @apply bg-gray-100 text-gray-900 transition-colors duration-300;
}

/* Dark mode styles */
html.dark {
  @apply bg-gray-900 text-white;
}

/* Tailwind CSS classes used for responsiveness and sticky positioning */
@layer utilities {
  .sticky-top-0 {
    position: sticky;
    top: 0;
  }
}

/* Ensure the dashboard layout is responsive */
@media (min-width: 768px) {
  .dashboard-layout {
    flex-direction: row;
  }
  .dashboard-sidebar {
    min-height: 100vh;
    position: fixed;
    top: 0;
  }
  .dashboard-content {
    flex: 1;
    margin-left: 250px;
  }
}

@media (max-width: 768px) {
  .dashboard-layout {
    flex-direction: row;
  }
  .dashboard-sidebar {
    width: 35%;
    position: fixed;
  }
  .dashboard-content {
    width: 100%;
    margin-left: 140px;
  }
}
